<div style="background: url('https://st2.depositphotos.com/1013693/6043/i/950/depositphotos_60430607-stockafbeelding-achtergrond-met-goud-bruiloft-ringen.jpg');background-size: 100% 100%;height: 700px; ">
  <form  [formGroup]="ForgetForm" (submit)="forget()">
<div  style="margin-left: 500px">
<!-- <mat-card style="width: 400px"> -->
  
    <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>PhoneNo</mat-label>
      <input formControlName="PhoneNo"  id="textbox" readonly matInput placeholder="PhoneNo" >
    </mat-form-field><br>
  <!-- </mat-card> -->
  <!-- <mat-card style="width: 400px"> -->
      <mat-form-field appearance="outline" style="width: 300px">
          <mat-label>NewPassword</mat-label>
        <input formControlName="NewPassword" id="NewPassword" type="password" matInput placeholder="NewPassword" >
      </mat-form-field><br>
    <!-- </mat-card> -->
    <!-- <mat-card style="width: 400px"> -->
        <mat-form-field appearance="outline" style="width: 300px">
            <mat-label>ConfirmPassword</mat-label>
          <input formControlName="ConfirmPassword" id="ConfirmPassword" type="password" matInput placeholder="ConfirmPassword" >
        </mat-form-field><br>
      <!-- </mat-card> -->
  <!-- <mat-card style="width: 400px"> -->
        <button style="align-self: center" mat-raised-button color="primary" [disabled]="!ForgetForm.valid" >ChangePassword</button>
    <!-- </mat-card> -->
  
</div>
</form>
</div>